@media (max-width: 1640px) {
   .advantages {
      background-image: none;
   }
}

@media (max-width: 1465px) {
   .specialised {
      background-size: 60px;
   }
}

@media (max-width: 1200px) {
   .slick-slide img {
      width: 80%;
   }
   .header-slider__item-images {
      margin: 50px 20px 0 0;
   }
   .header-slider {
      padding-top: 20px;
   }
   .header-slider__item-info {
      padding: 50px 0;
   }
   .advantages-box__images img {
      width: 80%;
   }
   .advantages-box__images {
      text-align: center;
   }
   .advantages-box {
      justify-content: space-around;
   }
   .advantages-box--right .advantages-box__title {
      padding: 68px 0 15px 15px;
   }
   .advantages-box--right .advantages-box__text {
      padding-left: 15px;
   }
   .advantages-box--right .advantages-box__info {
      padding-right: 30px;
   }
   .specialised {
      background-image: none;
   }
}

@media (max-width: 1080px) {
   .advantages-box__images img {
      width: 70%;
      margin-top: 40px;
   }
   .reviews__items {
      flex-wrap: wrap;
   }
   .reviews__item {
      width: 48%;
      margin-bottom: 25px;
   }
}

@media (max-width: 924px) {
   .header__top {
      flex-wrap: wrap;
   }
   .header-btn {
      width: 100%;
      text-align: right;
   }
   .login {
      margin-right: 30px;
   }
}

@media (max-width: 900px) {
   .header-slider__item-images {
      display: none;
   }
   .header-slider__item-info {
      padding: 10px 30px 10px 0;
   }
   .header {
      min-height: 580px;
   }
   .header-slider__title {
      line-height: 45px;
      font-size: 35px;
   }
   .header-slider__description {
      margin-bottom: 20px;
      line-height: 35px;
      font-size: 20px;
   }
}

@media (max-width: 858px) {
   .advantages-box__info {
      max-width: 100%;
      padding-top: 0;
   }
   .advantages {
      padding-top: 0;
   }
   .advantages-box {
      flex-wrap: wrap;
      padding-bottom: 20px;
   }
   .advantages-box--right .advantages-box__info {
      order: 0;
   }
   .advantages-box__images img {
      width: 100%;
   }
}

@media(max-width: 776px) {
   .specialised {
      padding: 20px 0 40px;
   }
   .specialised__title {
      margin-bottom: 40px;
   }
   .specialised__items {
      flex-wrap: wrap;
   }
   .specialised__item {
      width: 50%;
      margin-bottom: 20px;
   }
}

@media(max-width: 685px) {
   .reviews__items {
      display: block;
   }
   .reviews__item {
      width: 100%;
   }
   .reviews {
      padding: 38px 0;
   }
}

@media (max-width: 620px) {
   .footer__inner {
      display: block;
      text-align: center;
      padding: 20px 0px 19px 0px;
   }
   .footer__link {
      margin-bottom: 10px;
   }
}

@media (max-width: 590px) {
   .menu__list {
      display: none;
      position: absolute;
      width: 100%;
      top: 120px;
      left: 0;
      text-align: center;
      z-index: 5;
      background-color: #1a53aa;
      border-left: 8px solid #fff;
      border-right: 8px solid #fff;
   }
   .menu__list li+li {
      padding-left: 0;
   }
   .menu__list a {
      display: block;
      padding: 10px 0;
   }
   .menu__btn {
      width: 30px;
      height: 20px;
      position: relative;
   }
   .menu__btn span {
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 9px;
   }
   .menu__btn::before, .menu__btn::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #fff;
   }
   .menu__btn::before {
      top: 0;
   }
   .menu__btn::after {
      bottom: 0;
   }
}

@media (max-width: 540px) {
   .specialised__items {
      display: block;
   }
   .specialised__item {
      width: 100%;
   }
   .title {
      line-height: 40px;
      font-size: 30px;
   }
   .advantages-box--right .advantages-box__title {
      padding: 30px 0 15px 0;
   }
   .advantages-box--right .advantages-box__text {
      padding-left: 0;
   }
   .advantages-box__text {
      padding-left: 0;
   }
   .advantages-box__title {
      padding: 68px 0 15px 0;
   }
   .advantages-box__images img {
      margin-top: 20px;
   }
}

@media (min-width: 590px) {
   .menu__list {
      display: flex !important;
   }
}